/* old IE gets regular radios */
.toggle-radio:not(.old-ie) {
  display: inline-block;
  width: 12em;
  margin-top:10px;
}
.toggle-radio:not(.old-ie) label {
  background: #eeeeee;
  padding: .75em 0;
  display: block;
  color: #222;
  width: 6em;
  float: left;
  text-align: center;
  border-left: 1px solid #bbb;
}
.toggle-radio:not(.old-ie) label:hover {
  cursor: pointer;
  background: #d3d3d3;
}
.toggle-radio:not(.old-ie) label:last-child {
  border-radius: 0 2px 2px 0;
}
.toggle-radio:not(.old-ie) [type="radio"] {
  display: none;
}
.toggle-radio:not(.old-ie) [type="radio"]:first-child + label {
  border-radius: 2px 0 0 2px;
  border: none;
}
.toggle-radio:not(.old-ie) [type="radio"]:checked + label {
  background: #00628B;
  color:white;
}
