{% extends 'base.html' %}
{% block content %}

<div class="container-full">

	<!-- APP -->	
	<row>
		<div class="col-xs-6" >
			<div class="text-right">
				<div class="toggle-radio">
					<input type="radio" name="ab" value="tour" id="a" checked />
					<label for="a">Close Up</label>
					<input type="radio" name="ab" value="overview" id="b" />
					<label for="b">Overview</label>
				</div>
			</div>
			<div> {% include "map.html" %} </div>
		</div>
		{% include "panel.html" %}
	</row>
</div>

{% endblock %}
