{% extends 'base.html' %}
{% block content %}


<div class="container container_style col-wrap">
	<!-- HEADER -->
	<row>

	</row>

	<!-- APP -->	
	<row>
		<div class="col-md-6 grid" >

		<div class="text-right">
		<div class="toggle-radio">
  			<input type="radio" name="ab" id="a" checked />
  			<label for="a">Close Up</label>
  
  			<input type="radio" name="ab" id="b" />
  			<label for="b">Overview</label>
		</div>
		</div>
  

		<div> {% include "map.html" %} </div>

		</div>

  		<div class="col-md-6 grid">

  			<!-- Title & Image (which will contain e.g. the Country Name) -->
  			<div class="img_container">
  				<div id="col2_title"><h1>Dragon's gifts</h1></div>
  			</div>


  			<!-- Single country data view -->
  			<div class="hidden">
  				<div class="location">Angola</div>
				<table class="table" id="figures">
					<tr><td>Total $USD (MLN):</td><td> <span id="tot_usd">200</span></td></tr>
					<tr><td>Number of projects:</td><td> <span id="tot_prj">23</span></td></tr>
					<tr><td>Project categories:</td><td> <span id="single_country_chart">bar_chart</span></td></tr>
				</table>
  			</div>



  			<!-- Introduction text for main page before starting the tour -->
  			<div class="intro_main hidden">
        <div class="description ">From dams to highroads, from the African Union HQ to Confucius Institutes, the Chinese interests in Africa take shape in several forms. Make a tour across the continent and have a look at the Chinese projects in Africa, or explore the data about Chinese aid flows into Africa.</div>

  			<div class="text-center">
  				<!-- Start the tour -->
  				<button type="button" class="hidden but btn btn-primary btn-lg">Start the tour</button>
  			</div>
        </div>

  			<!-- Description of one single project in the tour -->
        <div class=" single_project">
  			<div class=" location ">Merowe City, Sudan</div>
  			<div class=" description ">The Merowe Dam in Northern Sudan is what Internatinonal River <a href="http://www.internationalrivers.org/campaigns/merowe-dam-sudan-0">defines</a> <i>"one of the world’s most destructive hydropower projects. Built on the Nile’s fourth cataract between 2003 and 2009, the dam created a reservoir with a length of 174 kilometers. With a capacity of 1,250 megawatts, the project doubled Sudan’s electricity generation. It also displaced more than 50,000 people from the fertile Nile Valley to arid desert locations. Thousands of people who refused to leave their homes were flushed out by the rising waters of the reservoir. No proper environmental impact assessment for the Merowe Dam was ever carried out."</i> </div>

  			<div class=" text-center">
  				<!-- Previous Next -->
  				<button type="button" class=" btn but btn-primary btn-lg">Previous</button>
  				<button type="button" class=" btn but btn-primary btn-lg" id="prv_button">Next</button>
  			</div>
      </div>

  			<!-- Explore the data overview -->
      <div class="hidden start_overview">
			 <div class=" description">The tour is over. Now that you have an idea of what kind of projects China is pursuing in China, you may have an overview of Chinese projects and investments in the whole continent.</div>

 			  <div class=" text-center">
  				<button type="button" class="but btn btn-primary btn-lg">Explore the data overview</button>
  		  </div>
      </div>
		</div>
	</row>

	<!-- FOOTER -->
	<row>

	</row>
</div>


{% endblock %}
