{% extends 'base.html' %}
{% block content %}

<div class="container-full on-loading">
	<div id="loader"></div>
	<!-- APP -->	
	<row>
		<div class="col-xs-6" >
			<div class="toggle-radio">
				<input type="radio" name="ab" value="tour" id="a" checked />
				<label for="a">Close Up</label>
				<input type="radio" name="ab" value="overview" id="b" />
				<label for="b">Overview</label>
			</div>
			<div> {% include "map.html" %} </div>
		</div>
		{% include "panel.html" %}
	</row>
	<a href="http://jplusplus.org" target="_blank"><img class="logojpp" src="{{ url_for('static', filename='images/jpp.png')}}"/></a>
</div>

{% endblock %}
