<div class="Panel col-xs-6">
		<!-- Title & Image (which will contain e.g. the Country Name) -->
		<div class="img_container">
			<div class="title">The Dragon's gifts</div>
		</div>

	<!-- view: Introduction text for main page before starting the tour -->

	<div class="view intro_main">
		<div class="description ">
			<div class="wrapper">
		<p>From dams to super-highways, from mining sites to research centers, from the African Union headquarters to more than 40 Confucius institutes, the Chinese presence in Africa is taking shape.</p>
   
			<p>Some analysts talk about soft power. Others raise the alarm over Chinese exploitation. The Chinese government emphasises the friendship between the people of China and Africa. Whatever your opinion, Chinese investments in Africa are changing the face of the continent. And they're growing.</p>

			<p>Start the tour and have a closer look at some individual investments, or explore the data to understand more about China's presence.</p><p><div class="img_credit">Photo: <a href="http://www.gettyimages.co.uk/detail/news-photo/an-unidentified-chinese-railway-worker-drills-holes-on-the-news-photo/82979700" target="_blank">Getty Images</a></div></p>



			</div>
		</div>

		<div class="text-center navigation-buttons">
			<!-- Start the tour -->
			<button type="button" class="but btn btn-primary btn-lg tour_button">Start the tour</button>
		</div>
	</div>

	<!-- view: Description of one single project in the tour -->
	<div class="view single_project hidden">
		<div class="description">
			<div class="wrapper">
			</div>
		</div>
		<div class=" text-center navigation-buttons">
			<!-- Previous Next -->
			<button type="button" class=" btn but btn-primary btn-lg prv_button">Previous</button>
			<button type="button" class=" btn but btn-primary btn-lg nxt_button">Next</button>
		</div>
	</div>

	<!-- view: start overview -->
	<div class="view hidden start_overview">
	 <div class=" description">
			<div class="wrapper">
			<p>The tour is over. The projects you have been exploring are just a small sample of what the Chinese governement donor agencies are supporting in Africa.
	 			</p>
	 			<p>You may now have an overview on our map of Chinese-backed projects and investments in Africa based on the <a href="http://china.aiddata.org" target="_blank">ChinaAid database</a>, the largest public database of Chinese development finance in Africa. The database is based on cross-checked media-reports (<a href="http://china.aiddata.org/content/methodology" target="_target">see their methodology</a>) and it is not meant to be exaustive, but rather to be a springboard to further research and more transparency. 
	 			</p>
	 			<p>If you would like to explore the single projects again please restart the tour.
	 			</p>
	 		</div>
	</div>
		<div class="text-center navigation-buttons">
			<button type="button" class="but btn btn-primary btn-lg tour_button">Restart the tour</button>
			<button type="button" class="but btn btn-primary btn-lg overview_button">Explore the data overview</button>
		</div>
	</div>
	<!-- view: overview -->
	<div class="view hidden overview_intro">
		<div class="description">
			<div class="wrapper">

			<p>According to the <a href="http://china.aiddata.org" target="_blank">AidData database</a>, from 2000 to 2012 Chinese government agencies financed more than 1900 projects across Africa.</p>

<p>The total amount of money that China committed to these schemes was at least $128bn. However, only 59% of the projects are identified as implemented or completed, while the remainder are still promised or planned. In 37% of the projects identified, the amount of money allocated is not known.</p>

<p>It is worth noting that Burkina Faso, Swaziland, the Gambia and Sao Tome and Principe did not receive any Chinese money. Unusual for Africa nowadays. But these countries have recognised Taiwan, which China regards a renegade province, as an independent state. 
The Gambia and Sao Tome and Principe, however, <a href="http://www.newtimes.co.rw/news/index.php?a=72148&i=15543" target="_blank">recently broke</a> diplomatic ties with Taiwan, which some analysts saw as proof of China’s growing clout on the continent with its spending there soaring.</p>

<p>Click on the bubbles to explore data on China’s projects in each country. The bigger the bubble, the more money is involved.</p>

			</div>
		</div>
	</div>
	<!-- view: overview -->
	<div class="view hidden overview">
		<div class="description">
			<div class="wrapper">
				<table class="table" id="figures">
					<tr>
						<td>
							<div>$USD</div>
							<div class="value" id="tot_usd"></div>
						</td>
						<td rowspan="2">
							<div id="prj_cat_text">Project categories:</div>
							<div class="chart"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div>Projects</div>
							<div class="value" id="tot_prj"></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
