<div class="Panel col-xs-6">
		<!-- Title & Image (which will contain e.g. the Country Name) -->
		<div class="img_container">
			<div class="title">The Dragon's gifts</div>
		</div>

	<!-- view: Introduction text for main page before starting the tour -->

	<div class="view intro_main">
		<div class="description ">
			<div class="wrapper">
				<p>
				From dams to super-highways, from mining sites to research centers, from the African Union headquarters to more than 40 Confucius institutes, the Chinese presence in Africa takes shape in several ways.
				</p>

				<p>
				Some analysts talk about <i>soft power</i>. Others raise the alarm over a Chinese invasion. The Chinese government constantly emphasizes the friendship between the people of China and Africa. Such confusion engengers a thick blanket of fog that covers the Chinese investments in Africa.
				</p>

				<p>Start the tour and have a look at the Chinese projects in Africa, or explore the data and delve into the Chinese presence in the African continent.
				</p>

				<p><div class="img_credit">Painting: Changzhoushi (1972)</a></div></p>

			</div>
		</div>

		<div class="text-center navigation-buttons">
			<!-- Start the tour -->
			<button type="button" class="but btn btn-primary btn-lg tour_button">Start the tour</button>
		</div>
	</div>

	<!-- view: Description of one single project in the tour -->
	<div class="view single_project hidden">
		<div class="description">
			<div class="wrapper">
				<p>
				The Merowe dam is a large dam near Merowe Town in northern Sudan, about 350 km north of the capital Khartoum. Its dimensions make it the largest contemporary hydropower project in Africa.
				</p>

				<p>Built on the Nile's fourth cataract between 2003 and 2009, the dam created a reservoir with a length of 174 km. With a capacity of 1,250 megawatts, the project doubled Sudan's electricity generation.
				</p>

				<p>The UN <a href="http://www.un.org/apps/news/story.asp?NewsID=23617&Cr=sudan&Cr1#.UvtWZEJdWCk" target="_blank">reported</a> that 60,000 civilians were displaced by the construction to arid desert locations. Sudanese civilians protested the project's execution from the start, and the protest escalated into bloody conflict. In April 2006, during a confrontation, three people were <a href="http://www.thecornerhouse.org.uk/sites/thecornerhouse.org.uk/files/MeroweSudanStudies.pdf">killed</a> and more than 50 injured.</i>
				</p>
			</div>
		</div>
		<div class=" text-center navigation-buttons">
			<!-- Previous Next -->
			<button type="button" class=" btn but btn-primary btn-lg prv_button">Previous</button>
			<button type="button" class=" btn but btn-primary btn-lg nxt_button">Next</button>
		</div>
	</div>

	<!-- view: start overview -->
	<div class="view hidden start_overview">
	 <div class=" description">
			<div class="wrapper">
	 			<p>The tour is over. The projects you have been exploring are just a small sample of what the Chinese governement donor agencies are supporting in Africa.
	 			</p>
	 			<p>Please have an overview on our map of Chinese-backed projects and investments in Africa based on the <a href="http://china.aiddata.org" target="_blank">ChinaAid database</a>, the largest public database of Chinese development finance in Africa. The database is based on cross-checked media-reports (<a href="http://china.aiddata.org/content/methodology" target="_target">see their methodology</a>) and it is not meant to be exaustive, but rather to be the springboard to further research and more transparency. 
	 			</p>
	 			<p>Otherwise, if you would like to explore the single projects again please restart the tour.
	 			</p>
	 		</div>
	</div>
		<div class="text-center navigation-buttons">
			<button type="button" class="but btn btn-primary btn-lg tour_button">Restart the tour</button>
			<button type="button" class="but btn btn-primary btn-lg overview_button">Explore the data overview</button>
		</div>
	</div>
	<!-- view: overview -->
	<div class="view hidden overview_intro">
		<div class="description">
			<div class="wrapper">
				<p>According to the <a href="http://china.aiddata.org" target="_blank">AidData database</a>, from 2000 to 2012 the Chinese donor government agencies financed 1900+ projects in Africa.</p>
				<p>The total amount of money that China committed on these projects is at least <b>$128B</b>. However, only 59% of the projects are identified as implemented or completed, while the others are only pledged or committed. Moreover, in the 37% of the cases the amount allocated is not known.</p>
				<p>
				It is worth noticing that Burkina Faso, Swaziland, the Gambia and Sao Tome and Principe did not receive any Chinese-backed project. These are the ones which recognised Taiwan as an independent state, which China regards as a renegade province. However, the Gambia and Sao Tome and Principe <a href="http://www.newtimes.co.rw/news/index.php?a=72148&i=15543" target="_blank">recently broke off</a> diplomatic ties with Taiwan.
				</p>
				<p>
				Please click on the bubbles and explore the Chinese projects data in the single countries. The bigger the bubble is, the more money China allegedly allocated in the country.
				</p>
			</div>
		</div>
	</div>
	<!-- view: overview -->
	<div class="view hidden overview">
		<div class="description">
			<div class="wrapper">
				<table class="table" id="figures">
					<tr>
						<td>
							<div>$USD</div>
							<div class="value" id="tot_usd"></div>
						</td>
						<td rowspan="2">
							<div id="prj_cat_text">Project categories:</div>
							<div class="chart"></div>
						</td>
					</tr>
					<tr>
						<td>
							<div>Projects</div>
							<div class="value" id="tot_prj"></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
